.login-container{
  padding: 25% 0;
  .login-title{
    color: var(--main-title-light);
    text-align: center;
  }
  .login-body{
    .login-form {
      .login-form-item {
        display: flex;
        flex-direction: column;
  
        label {
          margin-bottom: 0.5em;
        }
  
        input {
          margin-bottom: 1.5em;
          height: 40px;
        }
      }
  
      .login-submit {
        text-align: center;
        margin-top: 0.5em;
  
        .login-btn {
          // text-align: center;
          font-weight: 700;
          width: 30%;
          height: 35px;
          // justify-items: center;
        }
      }
    }
  
    .breakline {
      display: flex;
      justify-content: space-between;
      padding: 3em 0;
  
      hr {
        width: 45%;
        height: 2px;
        background-color: #FFFFFF;
      }
    }
  
    .login-btn-group {
      display: flex;
      flex-direction: column;
  
      .login-btn {
        height: 40px;
        line-height: 40px;
        margin-bottom: 1.5em;
        font-weight: 700;
  
        svg {
          width: 1em;
          height: auto;
        }
      }
    }
  }
}

@media screen and (min-width: 600px) {
  .login-container{
    .login-body{
      display: grid;
      grid-template-columns: 1fr 2% 1fr;
      grid-gap: 1em;
      align-items: center;
      .breakline{
        flex-direction: column;
        hr{
          width: 2px;
          height: 150px;
          background-color: #FFFFFF;
        }
      }
    }
  }
}