.header-container{
  width: 100%;
  height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding-bottom: 0.5em;
  // border-bottom: var(--header-border);
  .nav-link{
    @include svg-adjust(auto, 1.6em, var(--main-font));
  }
  .nav-logo{
    svg{
      width: auto;
      height: 2.5em;
    }
  }
  .nav-user{
    display: none;
    // width: 2.5rem;
    // height: 2.5rem;
    // border-radius: 50%;
    // object-fit: cover;
  }
}

// @media screen and (min-width: 650px) {
  
// }
